#root {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  min-height: 100dvw;
  display: flex;
  flex-direction: column;
  /* background-image: url("./assets/wooden-floor-background.jpg"); */
  background-size: cover;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.stat-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  color: inherit;
  background-color: inherit;
}
