#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

header {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.stat-icon {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  color: inherit;
  background-color: inherit;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
